spring:
  main:
    banner-mode: off
    web-application-type: none
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://192.168.2.246:3306/oxi_ethetics?useUnicode=true&rewriteBatchedStatements=true&characterEncoding=utf8&useSSL=true&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      initial-size: 5
      min-idle: 10
      max-active: 20
      max-wait: 60000

logging:
  level:
    root: OFF
    org.springframework: OFF
    
mcp:
  server:
    enabled: true
